.footer {
  width: 104px;
  height: 16px;
  top: 1340px;
  left: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  width: 100%;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
