.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 413px;
  width: 100%;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 40px);
  color: #212121;
}

.card__delete-btn {
  background-image: url(../images/TrushDefalut.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/TrushRed.svg);
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  color: #212121;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  background-color: #fcf5e5;
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/RedHeart.svg);
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 260px;
    font-size: 16px;
    line-height: 1;
  }
}
